*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}


body{
  background:#1A0B2E;
  color:white;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
}

.logo span{ color:#ff2ec4; }

.btn-primary{
  background:linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
  padding:10px 18px;
  border-radius:20px;
  border:none;
  color:white;
}
